body
{
  font-family: 'Oswald', sans-serif;
  background-color:#ffff99;
  color: #3d5c5c;

  border: 30px solid #ffa64d;
  margin:10px;

}
p.center
{
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
